torch_geometric==2.4.0
torchmetrics==1.9.0
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup@12d03c07553aedd3d9e9155e2b3e31ce8c64081a
easydict==1.13
einops==0.8.2
einops-exts==0.0.4
hydra-core==1.3.2
imageio==2.36.0
imageio-ffmpeg==0.6.0
lightning==2.6.1
lightning-utilities==0.15.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
moviepy==1.0.3
numpy==1.24.4
omegaconf==2.3.0
Pillow==11.1.0
pymeshlab==2023.12
pytorch-lightning==2.0.9
requests==2.32.5
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.10.1
tqdm==4.64.1
transformers==4.48.0
trimesh==3.21.7
vector-quantize-pytorch==1.23.2
wandb==0.19.6
randomname
